<!DOCTYPE html>
<html>
<head>
	<title>Look For Help?</title>
	<link href="/statics/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	 <a class="navbar-brand" href="/" style="color: #dddddd;">Look For Help</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    </div>
	  </div>
	</nav>
    
	<header class="jumbotron" id="overview">
      	<div class="container subhead">
		  	<div class="row">
		  		<div class="col-md-12" id="space"></div>
				<div class="col-md-6 col-md-offset-5">
                    <input type="text" id="search-bar" class="form-control" placeholder="Enter question here" aria-describedby="sizing-addon1">
                    <br>
                    <button type="submit" id="publish-btn" class="btn btn-primary btn-lg" onclick="checkLoginState();">Publish</button>
				</div>
		  	</div>
		</div>
    </header>
    
</body>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/statics/javascripts/ask.js"></script>
<script src="/statics/javascripts/bootstrap.js"></script>
</html>
